[buildout]

parts =
    openmember
    pydev
    pylint
    test

eggs =
    coverage
    nose
    openmember


#Managed by Mr Developer
develop =

newest = false
prefer-final = true
eggs-directory = ${buildout:directory}/eggs
download-cache =

extensions = 
    mr.developer

# mr.developer settings:
sources = sources
auto-checkout = *

versions = versions


[openmember]
recipe = zc.recipe.egg
dependent-scripts = true
unzip = true
eggs =
    ${buildout:eggs}
interpreter = py


[pydev]
recipe = pb.recipes.pydev
pydevproject_path = ${buildout:directory}/.pydevproject
eggs = ${buildout:eggs}
extra_paths = ${buildout:directory}/lib/python2.7/


[test]
recipe = pbp.recipe.noserunner
eggs = 
    pbp.recipe.noserunner
    ${buildout:eggs}
working-directory = ${buildout:directory}/src/openmember/openmember
defaults =
    --detailed-errors
    --nocapture
    --cover-package=openmember
    --with-coverage
    --cover-erase
    --with-doctest
    --doctest-tests
    --doctest-extension=txt


[sources]
openmember = git git@github.com:OpenMember/openmember.git


[pylint]
recipe = zc.recipe.egg
unzip = true
eggs =
    pylint
    ${buildout:eggs}
entry-points = pylint=pylint.lint:Run
arguments = sys.argv[1:]


[versions]

