[buildout]

parts =
    pydev
    pylint

eggs =
    coverage
    nose


#Managed by Mr Developer
develop =

newest = false
prefer-final = true
eggs-directory = ${buildout:directory}/eggs
download-cache =

extensions = 
    mr.developer

# mr.developer settings:
sources = sources
auto-checkout = *

versions = versions


[pydev]
recipe = pb.recipes.pydev
pydevproject_path = ${buildout:directory}/.pydevproject
eggs = ${buildout:eggs}
extra_paths = ${buildout:directory}/lib/python2.7/


[sources]



[pylint]
recipe = zc.recipe.egg
unzip = true
eggs =
    pylint
    ${buildout:eggs}
entry-points = pylint=pylint.lint:Run
arguments = sys.argv[1:]


[versions]

